@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: local("Segoe UI"), local("SegoeUI");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  src: local("Segoe UI Semibold"), local("SegoeUI-Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic"), local("SegoeUI-Italic");
}
