@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("../node_modules/typeface-inter/files/inter-latin-300.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../node_modules/typeface-inter/files/inter-latin-400.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../node_modules/typeface-inter/files/inter-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../node_modules/typeface-inter/files/inter-latin-700.woff2") format("woff2");
}
