<script src="{{{uiRootPath}}}/js/site.js"></script>
<script src="{{{uiRootPath}}}/js/05-mobile-navbar.js"></script>
<script>
  // Debug bootstrap: confirm navbar-burger exists and show aria state
  document.addEventListener('DOMContentLoaded', function () {
    var b = document.querySelector('.navbar-burger')
    console.debug('[bootstrap] navbar-burger?', !!b, b)
    if (b && !b.getAttribute('data-debug-bound')) {
      b.addEventListener('click', function () { console.debug('[bootstrap] burger clicked (bootstrap listener)') })
      b.setAttribute('data-debug-bound', 'true')
    }
    var nav = document.getElementById(b && b.dataset.target)
    console.debug('[bootstrap] target nav', !!nav, nav)
  })
</script>
<script src="{{{uiRootPath}}}/js/08-contact-form.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>

{{!-- {{#with (resolvePage page.relativeSrcPath model=false)}}
{{#unless (eq ./asciidoc.attributes.stem undefined)}} --}}
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  messageStyle: "none",
  tex2jax: { inlineMath: [["\\(", "\\)"]], displayMath: [["\\[", "\\]"]], ignoreClass: "nostem|nolatexmath" },
  asciimath2jax: { delimiters: [["\\$", "\\$"]], ignoreClass: "nostem|noasciimath" },
  TeX: { equationNumbers: { autoNumber: "none" } }
});
</script>
{{!-- {{/unless}}
{{/with}} --}}


<!-- Before the closing </body> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
